<div th:fragment="navbar">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">

            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/userPage}">benimsayfam</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category">Şehit Polis Özgür Gencer Kimdir?</a>
                </li>

            </ul>
        </div>
    </nav>


</div>