<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">

    <link rel="styLesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.userNumber}"> Title </span></td>
            <td><span th:text="${user.userName}"> Title </span></td>
            <td><span th:text="${user.payments}"> Title </span></td>
            <td><span th:text="${user.dues}"> Title </span></td>
            <td><a class="btn btn-primary" th:href="@{'/payment/'+${user.userNumber}}" type="button">ödeme gir</a>
                <a class="btn btn-secondary" type="button">Borç gir</a>
                <a class="btn btn-success" type="button">güncelle</a>
                <a class="btn btn-danger" type="button">Danger</a>
                <a class="btn btn-warning" type="button">Warning</a></td>

        </tr>

        </tbody>
    </table>


</div>

</body>
</html>