<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">

    <link rel="styLesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>

    <div th:if="${message != null}">

        <p>this is message</p>

    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Daire Numarası</th>
            <th scope="col">Malik</th>
            <th scope="col">Toplam Ödemeler</th>
            <th scope="col">Toplam Aidatlar</th>
            <th scope="col"> Bakiye</th>
            <th scope="col">İşlemler</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.userNumber}">  </span></td>
            <td><span th:text="${user.userName}+ ' , ' + ${user.lastName}">  </span></td>
            <td><span th:text="${user.payments}">  </span></td>
            <td><span th:text="${user.dues}">  </span></td>
            <td><span th:text="${user.balance}">  </span></td>
            <td><a class="btn btn-success" th:href="@{'/payment/'+${user.userNumber}}" type="button">Ödeme gir</a>
                <a class="btn btn-danger" th:href="@{'/dues/'+${user.userNumber}}" type="button">Aidat gir</a>
                <a class="btn btn-success" th:href="@{'/userUpdate/'+${user.userNumber}}" type="button">Kullanıcı
                    Güncelle</a>

                <!--                <a class="btn btn-danger" type="button">Danger</a>-->
                <!--                <a class="btn btn-warning" type="button">Warning</a></td>-->

        </tr>

        </tbody>
    </table>


</div>

</body>
</html>