<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">

    <link rel="styLesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="styLesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" type="text/css">

    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div>
    <div class="container" >
        <div th:replace="fragments :: navbar"></div>
        <img   th:src="@{/img/ozgur-gencer.png}"  >

        <p>31 yaşındaki Özgür Gençer, Ankara'da esnaflık yapıyordu. Evli ve iki çocuk babasıydı. 15 Temmuz gecesi Cumhurbaşkanı Erdoğan'ın "alanlara inin, darbecilere direnin" çağrısı sonrası sokağa çıktı. Darbe girişimi gecesi Cumhurbaşkanı Külliyesi'ne gitti, oradaki gençlere şehadetinden birkaç saat önce, “Milletin evini yedirmeyiz.” demişti. Sabah namazını kılmak için evine giden Özgür Gençer, namazdan sonra evde duramayarak tekrar Cumhurbaşkanlığı Külliyesi'ne gittiğinde hain darbecilerin saldırısı sonucu şehit düştü.</p>
        <p> Şehit Özgür Gençer,  Ankara Karşıyaka mezarlığındaki şehitliğe defnedildi</p>


</div>


<script type="text/javascript" th:src="@{/js/payment.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

</body>
</html>