<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kullanıcı Aidat İşlemi</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">

    <link rel="styLesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>

    <br/>
    <br/>
    <br/>

<div class="card">



    <div class="card-header">Kullanıcı Aidat Girme İşlemi</div>


    <div class="card-body">
        <form method="post" th:action="@{/saveDues}" th:object="${dues}">


            <input th:field="*{user}" type="hidden">
            <div class="form-group">
                <label for="userName">Aidat Girilecek Kullanıcı</label>
                <input aria-describedby="emailHelp" class="form-control" disabled id="userName"
                       placeholder="Enter email" th:field="*{user.personName}" type="text">
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <label for="dateDues">İşlem Zamanı</label>
                <input class="form-control" id="dateDues"  th:field="*{duesPayDay}" type="date">
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <label for="amount">Aidat Miktarı </label>
                <input id="amount" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" th:field="*{amount}"
                       title="This should be a number with up to 2 decimal places."
                       type="number">

            </div> <br/>
            <br/>
            <div class="form-group">
                <label for="description">Aidat Açıklaması</label>
                <input id="description" th:field="*{discription}" type="text">

            </div>
            <br/>
            <br/>

            <button class="btn btn-primary" id="duesSave" type="submit">Aidat Kaydet</button>
        </form>

    </div>

</div>

</div>


<script th:src="@{/js/payment.js}" type="text/javascript"></script>

</body>
</html>